<style>
.createQ{
  float: right;
  font-size: 50px;
}
.memoryindex{
  margin-left: 220px;
  margin-top: -650px;
}

</style>

<%= render 'shared/header', genre: @genre %>
<%= render 'shared/sidebar', genre: @genre %>

<div class="memoryindex">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @questions.each do |question| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= "Q." %></h2>
          <% if question.image.present? %>
            <img src="..." class="card-img-top" alt="...">
          <% end %>
          <p class="card-text"><%= question.statement %></p>
        </div>
      </div>  
    </div>
  <% end %>
</div>

</div>

<span class="createQ"><%=link_to "問題作成", new_genre_question_path %></span>
