<style>
.createQ{
  right: 50px;
  font-size: 50px;
  top: 810px;
  position: fixed;
}
.memoryindex{
  margin-left: 220px;
  margin-top: -600px;
  min-height: 10em;
  max-height: 45em;
  overflow-y: auto;
}

.page{
  position: fixed;
  top: 830px;
}
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  margin-left: 827px;  /*ここでmargin: auto;を使っても適用されなかったのはなぜ？*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 20px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 20px;    /*角を丸くする*/
}
.card{
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
.card:hover{
  box-shadow: 10px 10px 15px -10px;
	transform: translateY(-4px);
}
</style>

<%= render 'shared/header' %>
<%= render 'shared/sidebar', genre: @genre %>

<div class="memoryindex">
<div class="row row-cols-1 row-cols-md-2 g-4">

  <% @questions.each_with_index do |question, index| %>
    <div class="col" id="card<%= index %>" data-name="my-card" data-url="/questions/<%= question.id %>">
      <div class="card border-dark mb-3 h-100">
        <div class="card-body">
          <h2 class="card-title"><%= "Q." %></h2>
          <p class="card-text"><%= question.statement %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>

<span class="createQ"><%=link_to "問題作成", new_genre_question_path %></span>
<div class="page"><%= paginate @questions %></div>

<script>
  var card = document.getElementsByClassName('card');
  card.addEventListener("click", () => {
    open (card.dataset.url);
  });
</script>
