<style>
.card{
  position: absolute;
  padding-top: 30px;
  margin: 225px 300px 300px 450px;
}
.card-title{
  position: relative;
  left: 150px;
}
.statement-title{
  position: relative;
  left: 150px;
}
.statement-form{
  position: relative;
  left: 150px;
}
.image-title{
  position: relative;
  left: 150px;
}
.image-form{
  position: relative;
  left: 150px;
}
.form-btn{
  position: relative;
  left: 290px;
}
.card-link{
  position: relative;
  text-align: right;
  padding-right: 50px;
}


</style>
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h1 class="card-title"><%= "Q." %></h1>
    <span class="questionform" id="qform">
      <%= form_with(model: [@genre, @question], local: true) do |form| %>
          <p class="statement-title"><% form.label :statement %></p>
          <p class="statement-form"><%= form.rich_text_area :statement %></p>
        <div class="field">
          <p class="image-title"><% form.label :image %></p>
          <p class="image-form"><%= form.file_field :image %></p>
        </div>
          <p class="form-btn"><%= form.submit "登録" %></p>
      <% end %>
    </span>
    <p class="card-link"><%= link_to "A.へ" %></p>
  </div>
</div>
