<style>
.memoryindex{
  z-index: 2;
  width: 1550px;
  position: fixed;
  margin-left: 220px;
  margin-top: -350px;
  max-height: 50.5em;
  overflow-y: auto;
}
.card{
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
.card:hover{
  box-shadow: 10px 10px 15px -10px;
}
.card-body{
  min-height: 10em;
  max-height: 30em;
  overflow-y: auto;
}
</style>

<%= render 'shared/header' %>
<%= render 'shared/sidebar', genre: @genre %>

<div class="memoryindex">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @questions.each_with_index do |question, index| %>
    <div class="qacards" id="card" data-name="card" data-url="/questions/<%= question.id %>">
      <div class="card border-dark mb-3 h-100" style="height: 30rem, width: 48rem;">
        <div class="card-body">
          <h2 class="card-title"><%= "Q." %></h2>
          <p class="card-text"><%= question.statement %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<script>
  const qacards = document.getElementsByClassName('qacards') /* クラス名が「cards」の要素をすべて取得し、定数cardsとして代入する
                                                           ただ、ここで取得できるのは「配列に似ているが、実際には配列ではなく、HTMLcollectionオブジェクトを返す」 */
  for (let qacard of qacards) {                              //for (仮変数 of 配列){(処理)} この構文では配列の中の値を出力
    qacard.addEventListener('click', () => {
      console.log(qacard);                                  //ここで呼び出される値は各cardの情報データ?
      open (qacard.dataset.url);                           //各cardのdata属性のURLを取得し、openメソッドを適用
    })
  }
</script>