<style>
  .register-title {
    font-family: ヒラギノ丸ゴ Pro;
    text-align: center;
    margin-top: 100px;
  }
  .user-register {
    font-family: ヒラギノ丸ゴ Pro;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
  }
</style>
<%= render 'shared/error_messages' %>

<h1 class="register-title"><%= (t '.user-register') %></h1>
<div class="user-register">
<%= form_with model: @user, local: true do |f| %>
  <div class="field">
  <%= f.label :name, (t '.name') %><br>
  <%= f.text_field :name  %>
  </div>
  <br>
  <div class="field">
  <%= f.label :email, (t '.email') %><br>
  <%= f.text_field :email  %>
  </div>
  <br>
  <div class="field">
  <%= f.label :password, (t '.password') %><br>
  <%= f.password_field :password  %>
  </div>
  <br>
  <div class="field">
  <%= f.label :password_confirmation, (t '.password_confirmation') %><br>
  <%= f.password_field :password_confirmation  %>
  </div>
  <br>
  <%= f.submit '登録' %>
<% end %>
</div>