<%= render 'shared/error_messages' %>

<h1 class="user_register-title"><%= (t '.user-register') %></h1>
<div class="user_register">
  <%= form_with model: @user, local: true do |f| %>
    <div class="field">
      <%= f.label :name, (t '.name') %><br>
      <%= f.text_field :name, class: "user_form"  %>
    </div><br>
    <div class="field">
      <%= f.label :email, (t '.email') %><br>
      <%= f.text_field :email, class: "user_form"  %>
    </div><br>
    <div class="field">
      <%= f.label :password, (t '.password') %><br>
      <%= f.password_field :password, class: "user_form"  %>
    </div><br>
    <div class="field">
      <%= f.label :password_confirmation, (t '.password_confirmation') %><br>
      <%= f.password_field :password_confirmation, class: "user_form"  %>
    </div><br>
    <%= f.submit '登録', class: "user_form_btn" %>
  <% end %>
</div>