<header class="headerbar">
  <span class="app_title"><%= "My Nort" %></span>
    <ul class="nav">
      <% if current_user.admin == true %>
        <li class="nav-item">
          <span class="admin"><%= link_to admin_users_path do %>
            <i class="fas fa-envelope fa-2x"></i>
            <span class="admin_tag"><%= "管理者" %></span>
          <% end %>
          </span>
        </li>
      <% else %>
        <li class="nav-item">
          <span class="admin"><%= link_to new_inquiry_path do %>
            <i class="fas fa-paper-plane fa-2x"></i>
            <span class="admin_tag"><%= "問い合わせ" %></span>
          <% end %>
          </span>
        </li>
      <% end %>
        <li class="nav-item">
          <span class="logoutlink"><%= link_to logout_path, method: :delete do %>
            <i class="fas fa-running fa-2x"></i>
            <span class="logout"><%= "ログアウト" %></span>
          <% end %>
          </span>
        </li>
        <li class="nav-item">
          <span class="mypage"><%= link_to user_path(current_user) do %>
            <i class="fas fa-user fa-2x"></i>
            <span class="userinfo"><%= "ユーザー情報" %></span>
          <% end %></span>
        </li>
        <li class="nav-item">
          <span class="image"><%= link_to genres_path do %>
            <%= image_tag 'nort', size: '55x55', class: 'rounded-circle mr15'%>
            <span class="image_genre"><%= "ジャンルページへ" %></span>
          <% end %></span>
        </li>
    </ul>
</header>