<style>
  .review-index {
    font-family: YuMincho;
    text-decoration: none;
  }
  .genre {
    font-family: YuMincho;
  }
  .accordion {
    font-family: YuMincho;
  }
  .edit-btn {
    margin-left: 30px;
    text-decoration: none;
  }
  .gen {
    font-family: YuMincho;
    text-decoration: none;
  }
  .delete-btn {
    right: 5px;
    text-decoration: none;
  }
  .side {
    background-color: #8fbc8f;
    width:200px; # 200から1000
    height:735px;
    text-align:center;
    position: relative;
  }

  .newregister{
    position   : relative;
  }

  .register{
    font-family: YuMincho;
    position   : absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color: rgba(0, 0, 0, 0.70);       /* 背景色（透明度） */
    width:70px;                          /* 吹き出し全体の幅 */
    left : 80%;                           /* 表示位置 */
    bottom : -200%;                        /* 表示位置 */
    margin-bottom : 12px;                 /* 表示位置 */
    font-size: 80%;
    color: #FFFFFF;
  }

  .register:after{
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
  }

  .newregister:hover .register{
    display: block;
  }


  .genreform {
    font-family: YuMincho;
    position: absolute;
    top: 55.8px;
    left: 200px;
    display: none;
  }

</style>
<br>
<div class="side">
<%= javascript_pack_tag 'hello_vue' %>
  <svg style="display: none;">
    <symbol id="icon-add" viewBox="0 0 24 24">
      <path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path>
    </symbol>
  </svg>
  <br>
  <span class="genre"><%= "ジャンル" %></span>

  <span class="newregister">
    <button id="gbtn" class="knopf even pill shade inverse m-">
      <svg class="icon">
        <use xlink:href="#icon-add"></use>
      </svg>
    </button>
    <span class="register"><%= "新規登録" %></span>
  </span>
  <br>

  <br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <%= link_to "復習一覧", genres_review_questions_path, {class: "review-index"} %>
      <% genres = Genre.grouping_genres.sort_by{ |g| g[0] } %>
        <% genres.each_with_index do |(key, value), index| %>
          <h2 class="accordion-header" id="heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
              <%= key %>
            </button>
          </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <% value.sort_by{ |g| g.hiragana }.each do |v| %>
              <span><%=link_to v.name, genre_questions_path(v.id), class: "gen", data: { to_edit_genre_id: v.id } %></span>
              <span class="edit-btn">
                <%= link_to edit_genre_path(v.id), id: 'button-edit-#{v.id}' do %>
                  <i id="pen" class="fas fa-pen" v-on:click="editg"></i>
                <% end %>
              </span>
              <span class="delete-btn">
                <%= link_to genre_path(v.id), id: 'button-delete-#{v.id}', method: :delete, data: { confirm: "ジャンル「#{v.name}」を削除しますが、よろしいですか？"} do %>
                  <i id="trash" class="fas fa-trash"></i>
                <% end %>
              </span>
              <div id="edform" v-if="edit_form">
              <%= form_with model: genre, local: true do |form| %>
                <%= form.text_field :name %>
                <%= form.submit "登録" %>
              <% end %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>

  <span class="genreform" id="gform">
    <%= form_with model: genre, local: true do |form| %>
      <%= form.text_field :name %>
      <%= form.submit "登録" %>
    <% end %>
  </span>
</div>

<script>

  const Gebtn = document.getElementById('gbtn');
  const Geform = document.getElementById('gform');
  Gebtn.addEventListener('click', () => {
    if (Geform.style.display === 'none'){
      Geform.style.display = 'block';
    } else {
      Geform.style.display = 'none';
    }
  })

</script>
