<h2 class="ans_show_attention"><%= "問題なければ、問題出現スパンを決めましょう！"%></h2>

<div class="question-card ans_show_question-card">
  <div class="card border-dark mb-3" style="width: 40rem;">
    <div class="card-body ans_show_qu_card-body">
      <h1 class="card-title"><%= (t '.q') %></h1>
      <h1 class="card-content"><%= @question.statement %></h1>
      </span>
    </div>
  </div>
</div>

<div class="ans_show_answer-card">
  <div class="card border-dark mb-3" style="width: 40rem;">
    <div class="card-body ans_show_ans_card-body">
      <h1 class="card-title"><%= (t '.a') %></h1>
      <p class="ans_show_answer"><%= @answer.solution %></p>
      <p class="ans_show_process"><%= (t '.process') %></p>
      <p class="card-content"><%= @answer.process %></p>
    </div>
  </div>
</div>

  <div class="testday">
    <%= form_with model: @answer, method: :post do |form| %>
      <%= "この問題を"%>
      <%= form.date_field  :exam, class: "ans_show_test-form" %>
      <%= "にテストする"%>
      <%= form.submit "登録", class: "ans_show_submit-btn" %>
    <% end %>
  </div>