<header class="links">
  <% if logged_in? %>
    <%= link_to 'マイページへ', genres_path, {class: "link"} %>
  <% else %>
    <%= link_to '新規登録', new_user_path, {class: "link"} %><span class='between'>/</span><%= link_to 'ログイン', login_path, {class: "link"} %>
  <% end %>
</header>

<span><%= image_tag 'app/assets/image/sample01.png', size: '500x500', class: 'sample01' %></span>

<span class="home_title"><%= "My Nort" %></span>

<span><%= image_tag 'a.pngpp/assets/image/sample02', size: '500x500', class: 'sample02' %></span>

<span class="privacies">
  <%= link_to '利用規約', terms_path, {class: "terms"} %>
  <%= link_to 'プライバリーポリシー', privacy_path, {class: "privacy"} %>

  <p class="copywrite"><%= "© 2022 My Nort" %></p>
</span>
