<style>
  .admin-title{
    font-family: ヒラギノ丸ゴ Pro;
    margin-top: 10px;
    margin-left: 10px;
  }
  .subtitle{
    margin-left: 50px;
    font-family: ヒラギノ丸ゴ Pro;
  }
  .table {
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    width: 80%;
  }
  .fas {
    color: #FF0000;
  }
  .notifications{
    text-decoration: none;
  }
  .table_title{
    font-family: ヒラギノ丸ゴ Pro;
  }
  .table_body{
    font-family: ヒラギノ丸ゴ Pro;
  }
</style>

<div>
  <h2 class="admin-title">管理画面</h2>
  <span class="subtitle">
    <%= "ユーザー数" %>
    <%= @users.count %>

    <%= "アクティブユーザー数" %>
    <%= User.where(last_login_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day).count %>

    <% if current_user.admin == true %>
      <% if unchecked_notifications.any? %>
        <i class="fas fa-burn"></i>
      <% end %>
      <%=link_to "通知一覧へ", notifications_path, { class: "notifications"} %>
    <% end %>
  </span>
  <table class="table table-sm table-bordered border-primary">
    <thead class="table_title">
      <tr>
        <th scope="col">id</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">管理者</th>
        <th scope="col">作成日</th>
        <th scope="col">更新日</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table_body">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.admin? ? 'あり' : 'なし' %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td><%= link_to "削除", [:admin, user], method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？" } %></td>
      <% end %>
    </tbody>
  </table>
</div>