<%= form_with model: @inquiry, local: true do |form| %>
  <p class="email"><%= form.label :email, "メールアドレス" %></p>
  <p class="email-form"><%= form.text_field :email  %></p>
  <p class="message"><%= form.label :message, "お問い合わせ内容" %></p>
  <p class="message-form"><%= form.text_area :message, placeholder: "問い合わせ内容" %></p>
  <p class="form-btn"><%= form.submit "登録" %></p>
<% end %>
