<style>
  .inquiry-title {
    font-family: YuMincho;
    text-align: center;
    margin-top: 100px;
  }
  .inquiry-form {
    font-family: YuMincho;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
  }
</style>
<%= render 'shared/inquiry_validates_error_messages' %>

<h2 class="inquiry-title">お問い合わせフォーム</h2>
<div class="inquiry-form">
<%= form_with model: @inquiry, local: true do |form| %>
  <p class="email"><%= form.label :email, (t '.email') %></p>
  <p class="email-form"><%= form.text_field :email  %></p>
  <p class="message"><%= form.label :message, (t '.message') %></p>
  <p class="message-form"><%= form.text_area :message, placeholder: "問い合わせ内容" %></p>
  <p class="form-btn"><%= form.submit "送信" %></p>
<% end %>
