<div class="ex_index_memoryindex">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @answers.each do |answer| %>
      <div class="cards" id="card" data-name="card" data-url="/questions/<%= answer.question.id %>">
        <div class="card border-dark mb-3 h-100 ex_index_card" style="height: 30rem, width: 48rem;">
          <div class="card-body ex_index_card">
            <h2 class="card-title"><%= (t '.q') %></h2>
            <p class="card-text"><%= answer.question.statement %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<span><%=link_to 'テストを終了する', genres_path, { class: "to_genre" } %></span>
<div class="page"><%= paginate @answers %></div>

<script>
    const cards = document.getElementsByClassName('cards') /* クラス名が「cards」の要素をすべて取得し、定数cardsとして代入する
                                                           ただ、ここで取得できるのは「配列に似ているが、実際には配列ではなく、HTMLcollectionオブジェクトを返す」 */
    for (let card of cards) {                              //for (仮変数 of 配列){(処理)} この構文では配列の中の値を出力
      card.addEventListener('click', () => {
        console.log(card);                                  //ここで呼び出される値は各cardの情報データ?
        open (card.dataset.url);                           //各cardのdata属性のURLを取得し、openメソッドを適用
      })
    }
</script>
