<h2 class="test_title">今日のテスト分</h2>
<div class="ex_index_memoryindex">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @answers.each do |answer| %>
      <div class="cards" id="card" data-name="card" data-url="/questions/<%= answer.question.id %>">
        <div class="card border-dark mb-3 h-100 ex_index_card" style="height: 30rem, width: 48rem;">
          <div class="card-body ex_index_card">
            <h2 class="card-title"><%= (t '.q') %></h2>
            <p class="card-text"><%= answer.question.statement %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<span><%=link_to 'テストを終了する', genres_path(status: false), { class: "to_genre" } %></span>
<div class="ex_index_page"><%= paginate @answers %></div>

<%= javascript_pack_tag 'exams/index' %>
