<div class="ex_show_question-card" id="qacard">
  <div class="card border-dark mb-3" style="width: 40rem;">
      <h1 class="ex_show_qcard-title"><%= (t '.q') %></h1>
    <div class="ex_show_qcard-body">
      <h1 class="qcard-content"><%= @question.statement %></h1>
    </div>
      <h1 class="ex_show_acard-title"><%= (t '.a') %></h1>
    <div class="ex_show_acard-body" id="abody">
      <span class="ex_show_answer"><%= @answer.solution %></span>
      <span><%= (t '.process') %></span>
      <span class="ex_show_acard-content"><%= @answer.process %></span>
    </div>
  </div>
</div>

<%= @answer.exam %>

<div class="ex_show_review">
  <%= form_with model: @question, local: true do |form| %>
    <%= form.label :poor, class: 'ex_show_checkbox-label' %>
    <%= form.check_box :poor ,{ style: 'transform: scale(2.5);', class: 'check-box' }, "true", "false" %>
    <%= form.submit "登録", class: 'ex_show_checkbox-btn' %>
  <% end %>
</div>

<div><%=link_to (t '.editq'), edit_question_path, class: 'ex_show_question-edit' %></div>
<div><%=link_to (t '.edita'), edit_answer_path, class: 'ex_show_answer-edit' %></div>
<span class="ex_show_qdelete">
  <%= link_to question_path(@question), method: :delete, data: { confirm: "ご覧の問題を削除しますが、よろしいですか？"} do %>
    <i id="trash" class="fas fa-trash"></i>
  <% end %>
</span>

<script>
let trash = document.getElementById('trash');
let qcard = document.querySelector('.question-card');

trash.addEventListener('click', function(){
  qcard.remove();
  setTimeout(function(){
    window.close();
  }, 1000);
});
</script>