<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <title>My Nort</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <% if content_for?(:html_description) %>
      <meta name="description" content="<%= yield(:html_description) %>">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content='summary_large_image' />
    <meta name="twitter:site" content="@MyNote02" />
    <meta property="og:url" content="http://localhost:3000/" />
    <meta property="og:title" content="My Nort" />
    <meta property="og:description" content="学校のテストや試験本番で暗記したことが思い出せない・暗記が苦手、そんな方におすすめなのが「My Nort」です。" />
    <meta property="og:image" content="https://img14.shop-pro.jp/PA01308/843/etc/%A5%DE%A5%A4%A5%CE%A1%BC%A5%C89.JPG?cmsp_timestamp=20200721144234" />
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <meta name="google-site-verification" content="G0JVryThWdk8pdv-8NlQqq8zKSTiPOPRm2oQ1o9h_yI" />
  </head>

  <body>
      <%= render 'shared/flash_message' %>
      <%= yield %>
  </body>
</html>
